.user-layout{
    height: 100vh;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.user-page{
    width: 100%;
    flex: 1;
}
.navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    background-color: black;
    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.nav-item{
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    transition: all 0.2s ease-in;
}
.nav-item:hover{
    transform: translateY(-5px);
    /* border: 2px solid white; */
}
.demo-page-section{
    width: 90%;
    margin: 2rem auto;
    height: -webkit-fill-available;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: flex-start;
}
.section-left, .section-right{
    /* flex: 1; */
    width: 45%;
}
.section-left{
    display: flex;
    flex-direction: column;
}
.section-right img{
    width: 100%;
    object-fit: contain;
    border-radius: 1rem;
}
.section-left h3{
    text-transform: uppercase;
    font-weight: 500;
    color: #6EA944;
}
.section-left h1{
    font-size: 2.5rem;
    font-weight: 400;
}
.section-left p{
    color: #4c5153;
    text-align: justify;
    font-size: 1.2rem;
    margin-top: 1rem;
}
.section-left button{
    all: unset;
    width: fit-content;
    padding: 1rem 2rem;
    margin: 2rem 0;
    color: #6EA944;
    border: 2px solid #6EA944;
    border-radius: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.section-left button:hover{
    background-color: #6EA944;
    color: white;
}