/* User Layout */
.user-layout{
    height: 100vh;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.user-page{
    width: 100%;
    flex: 1;
}
/* Demo Page */
/* Navbar */
.navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    background-color: black;
    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.nav-item{
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    transition: all 0.2s ease-in;
}
.nav-item:hover{
    transform: translateY(-5px);
    /* border: 2px solid white; */
}
/* Section */
.demo-page-section{
    width: 90%;
    margin: 2rem auto;
    height: -webkit-fill-available;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: flex-start;
}
.section-left, .section-right{
    /* flex: 1; */
    width: 45%;
}
.section-left{
    display: flex;
    flex-direction: column;
}
.section-right img{
    width: 100%;
    object-fit: contain;
    border-radius: 1rem;
}
.section-left h3{
    text-transform: uppercase;
    font-weight: 500;
    color: #6EA944;
}
.section-left h1{
    font-size: 2.5rem;
    font-weight: 400;
}
.section-left p{
    color: #4c5153;
    text-align: justify;
    font-size: 1.2rem;
    margin-top: 1rem;
}
.section-left button{
    all: unset;
    width: fit-content;
    padding: 1rem 2rem;
    margin: 2rem 0;
    color: #6EA944;
    border: 2px solid #6EA944;
    border-radius: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.section-left button:hover{
    background-color: #6EA944;
    color: white;
}
/* Chat Float button */
.float-container{
    width: auto;
    height: auto;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-end;
    /* background-color: aqua;    */
}
.chat-container{
    flex-grow: 1;
    width: 40vw;
    height: 80vh;
    background-color: #eeeeee;
    border-radius: 1rem;
    box-shadow: 0px 0px 12px -3px #4c5153;
}
.assistant-button{
    position: absolute;
    all: unset;
    font-size: 2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    background-color: #6EA944;
    transition: all 0.1s ease-out;
    box-shadow: 0px 0px 6px 0px #4c5153;
    cursor: pointer;
}
.assistant-button:hover{
    background-color: #7ec143;
}
.close-assistant, .close-assistant:hover{
    background-color: white;
    color: #6EA944;
}

/* Chat View */
.chat-view{
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
/* Chat History */
.chat-history{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 0.5rem 0;
}
.user-message{
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #6EA944;
    color: white;
    align-self: flex-end;
    font-size: 0.8rem;
}
.ai-message{
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: white;
    color: black;
    align-self: flex-start;
    font-size: 0.8rem;
}
/* Chat Actions */
.chat-actions{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}
.chat-button{
    all: unset;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #6EA944;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer;
}
.chat-button:hover{
    background-color: #7ec143;
}
.input-form{
    display: flex;
    gap: 0.5rem;
    flex-grow: 1;
}
.input-form div:first-child, .input-form input:first-child{
    flex-grow: 1;
} 
.query-input{
    all: unset;
    background-color: #ffffff;
    padding: 0.2rem 1rem;
    border-radius: 1.5rem;
    border: 1px solid #c5c5c5;
    font-size: 0.8rem;
    
}